* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.home {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 30px;
    padding-left: 6rem;
    padding-right: 6rem;
}

.caixa-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 400;
}

.caixa-back {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-img {
    width: 60px;
}

.back {
    font-size: 40px;
}

.caixa-detalhe {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.detalhejs {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.detalhejs p {
    font-size: 20px;
}

.img-detalhe {
    width: 250px;
}

#btn-detalhe {
    background-color: #c0bebe;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    font-size: 20px;
}

#detalhe {
    margin-left: 35%;
    margin-right: 35%;
}